.bodyDiv {
  min-height: 100%;
  position: relative;

  .backgroundTiles {
    $offsetForRotationTiles: 80px;
    $slideUp: 6px;
    $slideAcross: 56px;

    background: url('/assets/brain-tiles-black.png') repeat;
    z-index: -1;
    transform: rotate(-5deg);
    position: absolute;
    opacity: 80%;
    animation: slide 2s infinite;
    animation-timing-function: linear;

    @keyframes slide {
      0% {
        top: -$offsetForRotationTiles;
        right: -$offsetForRotationTiles;
        bottom: -$offsetForRotationTiles;
        left: -$offsetForRotationTiles;
      }

      100% {
        top: -$offsetForRotationTiles - $slideUp;
        right: -$offsetForRotationTiles - $slideAcross;
        bottom: -$offsetForRotationTiles + $slideUp;
        left: -$offsetForRotationTiles + $slideAcross;
      }
    }
  }

  .backgroundGradient {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      radial-gradient(
        94.44% 53.13% at -21.01% 76.49%,
        #053432 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      radial-gradient(
        98.55% 55.43% at 110.87% 76.02%,
        #2e0b4a 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      radial-gradient(
        165.82% 93.27% at 15.7% 6.73%,
        #0b194a 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      #000000;
    z-index: -2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

.heroText {
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 0.95;
  text-align: center;
  letter-spacing: -0.05em;
}
