.event {
  background: #d4910e;

  @media print {
    background: white;
    border-color: #d4910e;
  }
}

.pollOption {
  width: 100%;
  border: 3px solid white;
  padding: 3px 10px 1px;
  border-radius: 3px;
  margin: 5px 0px 0px;
  cursor: pointer;

  &:first-of-type {
    margin-top: 12px;
  }

  &:last-of-type {
    margin-bottom: 14px;
  }

  &:disabled {
    border-color: rgba(255, 255, 255, 0.5);
    cursor: default;

    &.selected {
      border-color: white;
    }
  }

  @media print {
    border-color: #d4910e !important;
  }
}
