$animationTime: 0.4s;
$expoTiming: cubic-bezier(0.16, 1, 0.3, 1);

.container {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  border-radius: 3px 3px 0px 0px;
  z-index: 2;
  transition: bottom $animationTime $expoTiming;
  bottom: 0px;

  &.containerHiding {
    bottom: -300%;
    transition: bottom $animationTime linear;
  }

  @media print {
    display: none;
  }
}

.cover {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  pointer-events: none;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  transition: background $animationTime linear;

  &.coverHiding {
    background: none;
  }
}
