.button {
  border-color: #800813;
  color: #800813;

  &.started {
    background: #800813;
    color: white;
  }
}

.confirmButton {
  background: #800813;
  color: white;
  box-shadow: 0px 2px 5px rgba(53, 0, 0, 0.2);
  padding: 8px 0px 7px;
  border-radius: 5px;
}
