.textBlue {
  color: #0054d2;
}

@media screen and (max-width: 380px) {
  .textCollapsible {
    font-size: 0.875rem;
  }

  .logoCollapsible {
    height: 0.8rem;
    vertical-align: -2px;
    margin-right: 1px;
  }
}

@media screen and (max-width: 350px) {
  .textCollapsible {
    font-size: 0.875rem;
    display: none;
  }
}
