@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;900&display=swap');

body {
  font-family: 'Catamaran', sans-serif;
}

html {
  font-size: 16px;
}

html,
body,
#__next {
  height: 100%;
}

@layer utilities {
  .-align-1 {
    vertical-align: -0.25rem;
  }
}
