@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;900&display=swap');

body {
  font-family: 'Catamaran', sans-serif;
}

html {
  font-size: 16px;
}

html,
body,
#__next {
  height: 100%;
}

@layer utilities {
  .-align-1 {
    vertical-align: -0.25rem;
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

@layer components {
  .input {
    border: 3px solid #d8d8d8;
    border-radius: 4px;
    outline: none;
    padding: 3px 6px;
  }

  .blueButton {
    background: #0054d2;
    box-shadow: 0px 2px 5px rgba(2, 22, 53, 0.2);
    border-radius: 5px;
    padding: 8px 0px 7px;
  }

  .blueButton.blueButtonDisabled {
    background: #dddddd;
    box-shadow: none;
  }

  .blueShadow {
    box-shadow: 0px 2px 5px rgba(2, 22, 53, 0.2);
  }
}
